{%- from "pactmaker_zammad/map.jinja" import config with context %}
version: '3'
services:
  pactmaker_zammad:
    image: {{ config.image }}
    restart: {{ config.restart }}
    ports:
    - {{ config.port }}:3000
    env_file:
    - {{ config.location }}/.env
